<form #f="ngForm" (ngSubmit)="f.vaild && checkContract()" novalidate>
    <div class="bigDataBlock">
        <h1>Send ether</h1>
        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Sender address(account):</p>
            </div>
            <div class="col-xs-6">
                <input type="text" name="sender" minlength="4" maxlength="50" placeholder="Account" [(ngModel)]="contractRes.sender" #sender="ngModel" required />

                <div class="md-errors-spacer" *ngIf="sender.invalid && (sender.touched || f.submited)">
                    <small class="md-errors-spacer" *ngIf="sender.errors.required">
                        Sender address is required.
                    </small>
                    <div class="md-errors-spacer" *ngIf="sender.errors.minlength">
                        Sender address is min. 4 char. long!.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Receiver address(account):</p>
            </div>
            <div class="col-xs-6">
                <input type="text" name="receiver" minlength="4" maxlength="50" placeholder="Receiver" [(ngModel)]="contractRes.receiver" #receiver="ngModel" required />

                <div class="md-errors-spacer" *ngIf="receiver.invalid && (receiver.touched || f.submited)">
                    <small class="md-errors-spacer" *ngIf="receiver.errors.required">
                        Receiver address is required.
                    </small>
                    <div class="md-errors-spacer" *ngIf="receiver.errors.minlength">
                        Receiver address is min. 4 char. long!.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Amount of ether (not 0):</p>
            </div>
            <div class="col-xs-6">
                <input type="text" name="amount" minlength="1" maxlength="50" placeholder="Receiver" [(ngModel)]="contractRes.amount" #amount="ngModel" required />

                <div class="md-errors-spacer" *ngIf="amount.invalid && (amount.touched || f.submited)">
                    <small class="md-errors-spacer" *ngIf="amount.errors.required">
                        amount is required.
                    </small>
                    <div class="md-errors-spacer" *ngIf="amount == 0">
                        amount not 0!!!.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Your password (passphrase):</p>
            </div>
            <div class="col-xs-6">
                <input type="password" name="password" minlength="4" maxlength="15" placeholder="Password" [(ngModel)]="contractRes.password" #password="ngModel" required />

                <div class="md-errors-spacer" *ngIf="password.invalid && (password.touched || f.submited)">
                    <small class="md-errors-spacer" *ngIf="password.errors.required">
                        Description is required.
                    </small>
                    <div class="md-errors-spacer" *ngIf="password.errors.minlength">
                        Description is min. 4 char. long!.
                    </div>
                </div>
            </div>
        </div>

        <button type="button" [disabled]="!f.valid" class="btn btn-primary center-block" (click)="checkContract()">Init</button>
    </div>
</form>
<div class="bigDataBlock">
    <!--<div class="block">
        <table *ngIf="templates.length>0" align="center" border="1" cellpadding="0" cellspacing="0">
            <tr id="headers">
                <th>Name</th>
                <th>Content</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tr id="templates" *ngFor="let template of templates">
                <td>{{ template.name }}</td>
                <td>{{ template.content }}</td>
                <td>{{ template.description }}</td>
                <td>
                    <a [routerLink]="['/edit', template.id]"><span>Edit</span></a>
                    <a [routerLink]="['/templates']"><span (click)="deleteTemplate(template)">Delete</span></a>
                </td>
            </tr>
        </table>
        <span *ngIf="templates.length === 0">
            You don't have any templates. Add one.
        </span>
    </div>-->
</div>

<mat-paginator [length]="length"
               [pageSize]="templateCount"
               [pageIndex]="currentPage"
               (page)="getMyTemplates($event.pageIndex)">
</mat-paginator>

