<form #f="ngForm" (ngSubmit)="f.vaild && addTemplate()" novalidate>
    <div class="bigDataBlock">
        <h1>New Template</h1>
        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Name:</p>
            </div>
            <div class="col-xs-6">
                <input type="text" name="name" minlength="4" maxlength="8" placeholder="Give a name" [(ngModel)]="template.name" #name="ngModel" required />

                <div class="md-errors-spacer" *ngIf="name.invalid && (name.touched || f.submited)">
                    <small class="md-errors-spacer" *ngIf="name.errors.required">
                        Name is required.
                    </small>
                    <div class="md-errors-spacer" *ngIf="name.errors.minlength">
                        Name is min. 4 char. long!.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Description:</p>
            </div>
            <div class="col-xs-6">
                <input type="text" name="description" minlength="4" maxlength="15" placeholder="Description" [(ngModel)]="template.description" #description="ngModel" required />

                <div class="md-errors-spacer" *ngIf="description.invalid && (description.touched || f.submited)">
                    <small class="md-errors-spacer" *ngIf="description.errors.required">
                        Description is required.
                    </small>
                    <div class="md-errors-spacer" *ngIf="description.errors.minlength">
                        Description is min. 4 char. long!.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Content:</p>
            </div>
            <div class="col-xs-6">

                <textarea name="content" minlength="4" maxlength="80" placeholder="Html here" [(ngModel)]="template.content" #content="ngModel" required></textarea>

                <div class="md-errors-spacer" *ngIf="content.invalid && (content.touched || f.submited)">
                    <small class="md-errors-spacer" *ngIf="content.errors.required">
                        Content is required.
                    </small>
                    <div class="md-errors-spacer" *ngIf="content.errors.minlength">
                        Content is min. 4 char. long!.
                    </div>
                </div>
            </div>
        </div>

        <button type="button" [disabled]="!f.valid" class="btn btn-primary center-block" (click)="addTemplate()">Create</button>
    </div>
</form>
<div class="bigDataBlock">
    <div class="block">
        <table *ngIf="templates.length>0" align="center" border="1" cellpadding="0" cellspacing="0">
            <tr id="headers">
                <th>Name</th>
                <th>Content</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tr id="templates" *ngFor="let template of templates">
                <td>{{ template.name }}</td>
                <td>{{ template.content }}</td>
                <td>{{ template.description }}</td>
                <td>
                    <a [routerLink]="['/edit', template.id]"><span>Edit</span></a>
                    <a [routerLink]="['/templates']"><span (click)="deleteTemplate(template)">Delete</span></a>
                </td>
            </tr>
        </table>
        <span *ngIf="templates.length === 0">
            You don't have any templates. Add one.
        </span>
    </div>
</div>

<mat-paginator [length]="length"
               [pageSize]="templateCount"
               [pageIndex]="currentPage"
               (page)="getMyTemplates($event.pageIndex)">
</mat-paginator>

