#headers{
    background-color: #a5a5a5;
}
#templates {
    background-color: #eaeaea;
}

.block {
    margin: 2em;
}

.pager {
    
}

table {
    width: 100%;
}

textarea {
    margin: 0;
    width: 175px;
    height: 65px;
    border: 1px solid #888;
    resize:none;
}