<form #f="ngForm" (ngSubmit)="f.vaild && addTemplate()" novalidate>

    <div class="fieldWrap">
        <h1>New Template</h1>
        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Name:</p>
            </div>
            <div class="col-xs-6">
                <input type="text" name="name" placeholder="Give a name" [(ngModel)]="template.name" #name="ngModel" ngModel required
                       maxlength="8" />

                <div class="md-errors-spacer" [hidden]="name.valid || name.untouched">
                    <div *ngIf="f.submitted && name.errors && name.errors.required">
                        <span>Name is required!</span>
                    </div>
                    <div *ngIf="f.submitted && name.errors">
                        <span>Name is invalid!</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Description:</p>
            </div>
            <div class="col-xs-6">
                <input type="text" name="description" placeholder="Description" [(ngModel)]="template.description" #description="ngModel" ngModel required
                       maxlength="15" />

                <div class="md-errors-spacer" [hidden]="description.valid || description.untouched">
                    <div *ngIf="f.submitted && description.errors && description.errors.required">
                        <span>Description is required!</span>
                    </div>
                    <div *ngIf="f.submitted && description.errors">
                        <span>Description is invalid!</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Content:</p>
            </div>
            <div class="col-xs-6">
                <input type="text" name="content" placeholder="Content" [(ngModel)]="template.content" #content="ngModel" ngModel required
                       maxlength="10" />

                <div class="md-errors-spacer" [hidden]="content.valid || content.untouched">
                    <div *ngIf="f.submitted && content.errors && content.errors.required">
                        <span>Content is required!</span>
                    </div>
                    <div *ngIf="f.submitted && content.errors">
                        <span>Content is invalid!</span>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" [disabled]="!f.valid" class="btn btn-primary center-block" (click)="addTemplate()">Create</button>
    </div>
</form>
<br />
<table class="table">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th> 
        <th>Content</th>
    </tr>
    <tr *ngFor="let template of templates; let i = index">
        <td>{{i + 1}}</td>
        <td>{{template.name}}</td>
        <td>{{template.description}}</td>
        <td>{{template.content}}</td>
    </tr>
</table>`
