<a class="projectArea" [routerLink]="['/project', project.id]">
    <div class="viewArea">
        <p>
            <i class="fas fa-archive"></i>
            <b>Name: </b>{{ project.name }}
        </p>

        <p>
            <i class="fas fa-at"></i>
            <b>Description: </b>{{ project.description }}
        </p>

        <p>
            <i class="fas fa-user"></i>
            <b>Collaborators: </b>{{project.linkedUsers.length}}
        </p>

        <img *ngIf="project.imagePath" class="projectPicture" src="{{project.imagePath}}" alt="Picture">
        <img *ngIf="!project.imagePath" class="projectPicture" src="http://localhost:55172/images/default/noimage.png" alt="Picture">

    </div>
</a>