<div class="myContainer">
    <h1>Dashboard</h1>

    <div class="dataBlock">
        <span>horizont1</span>
        <hr />
    </div>

    <div class="dataBlock">
        <span>horizont2</span>
        <hr />
    </div>

    <div class="dataBlock">
        <span>horizont3</span>
        <hr />
    </div>

    <div class="dataBlock">
        <span>horizont4</span>
        <hr />
    </div>

    <div class="dataBlock">
        <span>horizont5</span>
        <hr />
    </div>

    <div class="dataBlock">
        <span>horizont6</span>
        <hr />
    </div>

    <div class="bigDataBlock">
        <span>BigData</span>
        <hr />
    </div>

</div>