<div class="myContainer">
    <h1>Dashboard</h1>

    <div class="dataBlock">
        <span>horizont</span>
        <hr />
    </div>

    <div class="dataBlock">
        <span>horizont</span>
        <hr />
    </div>

    <div class="dataBlock">
        <span>horizont</span>
        <hr />
    </div>

    <div class="dataBlock">
        <span>horizont</span>
        <hr />
    </div>

    <div class="dataBlock">
        <span>horizont</span>
        <hr />
    </div>

    <div class="dataBlock">
        <span>horizont</span>
        <hr />
    </div>

    <div class="bigDataBlock">
        <span>BigData</span>
        <hr />
    </div>

</div>