h1 {
    color: lightseagreen;
    text-shadow: 0.5px 0.5px black;
}

input[type=text] {
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 1.5px solid #555;
}