<ng-template #template>
    <div class="modal-header">
        <h4 style="color: black" class="modal-title pull-left">Change project information:</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="f.vaild && updateProjectInfo()" novalidate>
            <div class="loginDataBlock">
                <h1>Edit</h1>
                <pre>{{project | json}}</pre>
                <div class="row">
                    <div class="col-xs-6">
                        <p class="boldLables text-right">Name:</p>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" name="name" maxlength="10" minlength="4" placeholder="Name" [(ngModel)]="project.name" #name="ngModel" required>

                        <div class="pull-left" *ngIf="name.invalid && (name.touched || f.submited)">
                            <small class="md-errors-spacer" *ngIf="name.errors.required">
                                Name is required.
                            </small>
                            <div class="md-errors-spacer" *ngIf="name.errors.minlength">
                                Name is min. 4 char. long!.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <p class="boldLables text-right">Description:</p>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" name="description" maxlength="15" minlength="4" placeholder="Description" [(ngModel)]="project.description" #description="ngModel" required />

                        <div class="md-errors-spacer" *ngIf="description.invalid && (description.touched || f.submited)">
                            <small class="md-errors-spacer" *ngIf="description.errors.required">
                                Description is required.
                            </small>
                            <div class="md-errors-spacer" *ngIf="description.errors.minlength">
                                Description is min. 4 char. long!.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <p class="boldLables text-right">Content:</p>
                    </div>
                    <div class="col-xs-6">

                        <textarea name="content" minlength="4" placeholder="Content" [(ngModel)]="project.content" #content="ngModel" required></textarea>

                        <div class="md-errors-spacer" *ngIf="content.invalid && (content.touched || f.submited)">
                            <small class="md-errors-spacer" *ngIf="content.errors.required">
                                Content is required.
                            </small>
                            <div class="md-errors-spacer" *ngIf="content.errors.minlength">
                                Content is min. 4 char. long!.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <p class="boldLables text-right">Image:</p>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="file">Choose File</label>
                            <input type="file" id="file" (change)="onFileChange($event)" #fileInput>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <p class="boldLables text-right">Add co-workers:</p>
                    </div>
                    <div class="col-xs-6">
                        <ng-select name="user" [items]="userProjects"
                                   multiple="true"
                                   maxSelectedItems="2"
                                   bindLabel="user.email"
                                   placeholder="Select user"
                                   [typeahead]="typeahead"
                                   [(ngModel)]="project.linkedUsers">
                            <ng-template ng-option-tmp let-item="item">
                                <b>{{item.user.name}}</b> {{item.user.email}}
                            </ng-template>
                        </ng-select>

                    </div>
                </div>

                <button type="submit" class="btn btn-primary center-block" (click)="updateProjectInfo()">Save</button>
            </div>
        </form>
    </div>
</ng-template>