<navbar></navbar>
<ng-sidebar-container>
    <ng-sidebar [(opened)]="_opened"
                [mode]="slide"
                [keyClose]="false"
                [dock]="true"
                [dockedSize]="'0px'"
                [autoCollapseHeight]="true"
                [autoCollapseWidth]="false"
                [closeOnClickOutside]="false"
                [closeOnClickBackdrop]="false"
                [showBackdrop]="false"
                [animate]="false"
                [trapFocus]="true"
                [autoFocus]="false"
                [sidebarClass]="'demo-sidebar'">
        <button [routerLink]="['/home']" class="navButton"><i class="fas fa-home"> Dashboard</i></button>
        <hr>
        <button [routerLink]="['/templates']" class="navButton"><i class="fas fa-clipboard"> Templates</i></button>
        <button [routerLink]="['/projects']" class="navButton"><i class="fas fa-clipboard"> Projects</i></button>
        <hr>
        <button class="navButton"><i class="fas fa-lock"> Administration</i></button>
    </ng-sidebar>

    <div ng-sidebar-content>
        <router-outlet></router-outlet>
        <footer class="blockFooter">
            <p id="footerText">Mysite (c) 2018</p>
        </footer>
    </div>

</ng-sidebar-container>



