<form #f="ngForm" (ngSubmit)="f.vaild && addProject()" novalidate>
    <div class="bigDataBlock">
        <h1>New Project</h1>
        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Name:</p>
            </div>
            <div class="col-xs-6">
                <input type="text" name="name" minlength="4" maxlength="8" placeholder="Give a name" [(ngModel)]="project.name" #name="ngModel" required />

                <div class="md-errors-spacer" *ngIf="name.invalid && (name.touched || f.submited)">
                    <small class="md-errors-spacer" *ngIf="name.errors.required">
                        Name is required.
                    </small>
                    <div class="md-errors-spacer" *ngIf="name.errors.minlength">
                        Name is min. 4 char. long!.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Description:</p>
            </div>
            <div class="col-xs-6">
                <input type="text" name="description" minlength="4" maxlength="15" placeholder="Description" [(ngModel)]="project.description" #description="ngModel" required />

                <div class="md-errors-spacer" *ngIf="description.invalid && (description.touched || f.submited)">
                    <small class="md-errors-spacer" *ngIf="description.errors.required">
                        Description is required.
                    </small>
                    <div class="md-errors-spacer" *ngIf="description.errors.minlength">
                        Description is min. 4 char. long!.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p class="boldLables text-right">Content:</p>
            </div>
            <div class="col-xs-6">

                <textarea name="content" minlength="4" maxlength="80" placeholder="Some content..." [(ngModel)]="project.content" #content="ngModel" required></textarea>

                <div class="md-errors-spacer" *ngIf="content.invalid && (content.touched || f.submited)">
                    <small class="md-errors-spacer" *ngIf="content.errors.required">
                        Content is required.
                    </small>
                    <div class="md-errors-spacer" *ngIf="content.errors.minlength">
                        Content is min. 4 char. long!.
                    </div>
                </div>
            </div>
        </div>

        <button type="button" [disabled]="!f.valid" class="btn btn-primary center-block" (click)="addProject()">Create</button>
    </div>
</form>